/Projecto_1_Master.X/build/
/Projecto_1_Sensor_de_Temperatura.X/build/
/Projecto_1_Sensor_de_Temperatura.X/dist/
/Projecto_1_Sensor_Ultrasonico.X/build/
/Projecto_1_Sensor_Ultrasonico.X/dist/
/Projecto_1_Master.X/dist/
/Projecto_1_Sensor_de_Profundidad.X/build/
/Projecto_1_Sensor_de_Profundidad.X/dist/